<!doctype html>
<html lang="en">
  <head>
    <title>Music Player</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <h1 class="display-3" style="color:#84bd00;"><center>Welcome to the Music Player Application!</center></h1>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"-->
    <!--link href="static\css\main.css", type="text/css" rel="stylesheet"-->
    {% block head %} {% endblock %}
  </head>
  <body style="background-color:black;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">   <!--navbar navbar-expand-lg navbar-light bg-light nav flex-column-->      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('enterpgArtist')}}">As Artist</a>
                <a class="dropdown-item" href="{{url_for('enterpg')}}">As Listener</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('show_entries')}}">Get me on Track!</a> 
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Help</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <!--input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
            <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">Others</button-->
            
          </form>
        </div>
      </nav>
    
      <div class="container pt-3">
        <blockquote class="blockquote" style="color: grey;">
          <p class="mb-0">“Music is the only language in which you cannot say a mean or sarcastic thing.”</p>
          <footer class="blockquote-footer centerPg">John Erskine</footer>
        </blockquote>
      </div>

      <!--centre><blockquote class="blockquote" style="color: grey;">
        <p class="centerPg">“Music is the only language in which you cannot say a mean or sarcastic thing.”</p>
        <footer class="blockquote-footer centerPg">John Erskine</footer>
      </blockquote></centre-->
      
    
      
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block body %} {% endblock %}
  </body>
</html>